/*Heading Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@700&display=swap');

/*Paragraph Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: 'open sans', 'nunito sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-around;
}


nav a {
    text-align: center;
    align-self: center;
    text-decoration: none;
    padding: 35px;
    color: black;
    font-weight: bold;
}

.logo {
    width: 100%;
    padding-top: 10px;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    margin: 0;
}

#hero-img {
    display: block;
    width: 100%;
    margin: 0;
}

.hero-text {
    padding: 20px 100px 20px 100px;
    text-align: center;
    background-color: rgb(26, 26, 118);
    color: white;
}

.button-box {
    margin-bottom: 30px;
}

.apply {
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: rgb(26, 26, 118);
    padding: 7px;
    border: 0.5px solid white;
}

.apply:hover {
    text-decoration: underline 2px solid;
    background-color: rgb(41, 41, 160);
}

.floor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin: 70px 100px 100px 100px;
}

.floor img {
    margin-right: 100px;
    width: 100%;
}

.floor h2,
.floor h3,
.floor p {
    margin-bottom: 50px;
}

.amenities {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.amenities img {
    grid-column: 1/12;
    grid-row: 1/10;
    width: 100%;
    filter: opacity(0.8) saturate(2)
}

.amenities-text {
    grid-column: 7/11;
    grid-row: 5/6;
    background-color: rgb(45, 42, 125);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    border: 3px solid black;
}

.last {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.last p {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
}

.last-apply {
    margin-top: 50px;
}

footer {
    background-color: rgb(238, 238, 238);
    padding: 20px 50px 0px 50px;
}

footer h6 {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 100px;
    grid-column-gap: 30px;
    margin: 0;
}

#footer-container p {
    font-size: 0.7em;
}

.c1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 10px;
}

.c2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.c3 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.c4 {
    grid-column: 3/4;
    grid-row: 1/3;
    margin: 0;
}

.c4 a {
    color: black;
    text-decoration: none;
}

.social {
    grid-column: 4/5;
    grid-row: 1/2;
}

.social a {
    text-decoration: none;
}

/* faq script css */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

@media screen and (max-width: 50%) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
    }

    header {
        grid-template-rows: auto;
        grid-template-columns: 235px auto;
    }

    #hero-text {
        margin: 0;
    }

    .floor {
        display: block;
    }

    .floor img {
        margin: 0;
    }

    .amenities {
        display: none;
        width: auto;
    }

    footer {     
        margin-top: 25px;
        margin-bottom: 100px;
    }
}